{% extends 'layouts/main.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2>Movies</h2>
    {% if 'create:movies' in permissions %}
    <a href="/movies/create" class="btn btn-sm btn-success">Add Movie</a>
    {% endif %}
</div>
<table id="movie-list" class="table table-bordered table-striped">
    <!-- Movies will be displayed here -->
</table>
<div class="text-center">
<button id="prev-movie-page" class="btn btn-sm btn-primary" disabled>Previous</button>
<button id="next-movie-page" class="btn btn-sm btn-primary" disabled>Next</button>
</div>
{% if 'delete:movies' not in permissions %}
    <style>
        .delete-button {
            display: none;
        }
    </style>
{% endif %}
{% endblock %}