{% extends 'layouts/main.html' %}
{% block title %}{{ action }} Actor{% endblock %}
{% block content %}
<h2>{{ action }} Actor</h2>
<form id="actor-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter actor name" required class="form-control">
    </div>
    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea id="bio" placeholder="Enter actor bio" required class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">{{ action }} Actor</button>
</form>
{% endblock %}